/node_modules
/public/storage
/public/hot
/storage/*.key
/.idea
Homestead.json
Homestead.yam


/vendor
/.well-known
/cgi-bin
public/uploads/
public/sitemap.xml
public/min/
public/images/
storage/logs
.env
.htaccess
package.json

/.vscode/

node_modules/
public/.well-known/
public/cgi-bin/
public/deploy/
sitemap.xml
