@font-face {
    font-family: Montserrat;
    font-display: swap;
    src: url(../fonts/Montserrat/MontserratRegular/Montserrat-Regular.eot);
    src: url(../fonts/Montserrat/MontserratRegular/Montserrat-Regular.eot?#iefix) format("embedded-opentype"), url(../fonts/Montserrat/MontserratRegular/Montserrat-Regular.woff) format("woff"), url(../fonts/Montserrat/MontserratRegular/Montserrat-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Montserrat;
    font-display: swap;
    src: url(../fonts/Montserrat/MontserratMedium/Montserrat-Medium.eot);
    src: url(../fonts/Montserrat/MontserratMedium/Montserrat-Medium.eot?#iefix) format("embedded-opentype"), url(../fonts/Montserrat/MontserratMedium/Montserrat-Medium.woff) format("woff"), url(../fonts/Montserrat/MontserratMedium/Montserrat-Medium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: Montserrat;
    font-display: swap;
    src: url(../fonts/Montserrat/MontserratBold/Montserrat-Bold.eot);
    src: url(../fonts/Montserrat/MontserratBold/Montserrat-Bold.eot?#iefix) format("embedded-opentype"), url(../fonts/Montserrat/MontserratBold/Montserrat-Bold.woff) format("woff"), url(../fonts/Montserrat/MontserratBold/Montserrat-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: Lato;
    font-display: swap;
    src: url(../fonts/Lato/LatoRegular/Lato-Regular.eot);
    src: url(../fonts/Lato/LatoRegular/Lato-Regular.eot?#iefix) format("embedded-opentype"), url(../fonts/Lato/LatoRegular/Lato-Regular.woff) format("woff"), url(../fonts/Lato/LatoRegular/Lato-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}